body {
  padding:0;
  margin:0;
  background-image:url("../../background.jpg");
  background-position:center;
  background-attachment: fixed;
  background-size: cover;
}
.content {
  background-color:rgba(41, 37, 70, 0.822);
  color: #d1d1d1;
  margin: 0px 100px 0px 100px;
  padding: 40px 20px 80px 20px;
  height: 100%;
}
#root {
  margin: 0px;
  padding: 0ps;
}