/* .body {
  padding:0;
  margin:0;
  background-image:url("../../background.jpg");
  background-position:center;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
}
:global(.content) {
  background-color:rgba(41, 37, 70, 0.822);
  color: #d1d1d1;
  margin: 0px 100px 0px 100px;
  padding: 40px 20px 80px 20px;
  height: 100%;
} */
:global(iframe) {
  height:600px;
  width:100%;
}
:global(h1) {
  border-radius: 10px;
  border-style: solid;
}
:global(table, th, td) {
  border-style: solid;
  border-collapse:collapse;
  width: 100%;
}
:global(th, td) {
  width:auto;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
:global(th) {
  background-color: #442558;
}
:global(tr) {
  background-color:#468e9b;
}
:global(tr:hover) {
  background-color: #202020;
}
:global(.card) {
  width:33%;
  border-style:solid;
  border-radius:20px;
  text-align:center;
  padding:20px 0px 20px 0px;
}