.listingsHolder {
    max-height: 80vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(38, 31, 43);
}
@media (max-width: 1718px) {
    .listingsHolder {
        grid-template-columns: 1fr;
    }
}