body {
  padding:0;
  margin:0;
  background-image:url("../../public/background.jpg");
  background-position:center;
  background-attachment: fixed;
  background-size: cover;
}
.content {
  background-color:rgba(41, 37, 70, 0.822);
  color: #d1d1d1;
  margin: 0px 100px 0px 100px;
  padding: 40px 20px 80px 20px;
  height: 100%;
}
#root {
  margin: 0px;
  padding: 0ps;
}
iframe {
  height:600px;
  width:100%;
}
h1 {
  border-radius: 10px;
  border-style: solid;
}
table, th, td {
  border-style: solid;
  border-collapse:collapse;
  width: 100%;
}
th, td {
  width:auto;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
th {
  background-color: #442558;
}
tr {
  background-color:#468e9b;
}
tr:hover {
  background-color: #202020;
}
Card {
  width:33%;
  border-style:solid;
  border-radius:20px;
}